*{
    margin: auto;
    padding: auto;
}
body{
  margin: 0;
    background-color:bisque;
    color: rgb(22, 128, 93);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    margin: 20px;
    text-align: center;
    font-size: 50px;
}
p{
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    font-size: 20px;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  
.column {
    flex: 1;
    padding: 10px;
  }
@media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }

  /*navbar*/
.container-nav {
  display: flex;
  padding: 10px;
  height: 50px;
  background-color: black;
  }
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.brand {
  display: flex;
  align-items: center;
}
li>a {
  padding: 8px 24px;
}
li {
  list-style-type: none;
}
a {
  color: white;
  text-decoration:none;
}
.nav-links {
  display: flex;
  align-items: center;
}
.button-menu-toggle {
  display: none;
}
@media (max-width: 768px) {
.column {
  flex: 100%;
}

.nav-links {
  display: none;
}
.button-menu-toggle {
  display: block;
  background-color: white;
  border:none;
  border-radius: 50px;
  padding: 0 24px;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
}
 
.nav-links.nav-links-responsive {
  position: absolute;
  display: flex;
  background-color: rgba(20,20,20,0.95);
  width: 100%;
  height: 100%;
  top: 70px;
  left: 0;
  flex-direction: column;
  padding-top: 200px;
  align-items: center;
  gap:70px;
  font-size: 40px;}
}

/*formulario*/
.formulario {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid rgb(255, 228, 196);
  border-radius: 5px;
}

.formulario h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}


@media screen and (max-width: 600px) {
    #myForm{
        display: flex;
        flex-direction: column;
    }
  
}

footer{
  display: flex;
  height: 200px;
  flex-direction: column;
  text-align: center;
}
main{
  display: flex;
  flex-direction: column;
}